<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<body class="container">

<main>
    <div class="jumbotron">
        <h1><%= branchName %></h1>
    </div>

    <iframe src="https://www.google.com/maps/embed/v1/place?key=<%= googleMapKey %>&q=<%= latitude %>,<%= longitude %>"/>
</main>

</body>
</html>
